
.concepto{
    color:#e6004c;             
    text-align: left;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
}

.Subtitulos
{
    margin-top: 50px;
    margin-left: 100px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.centerImg{
    text-align: center;
    
    }

.tableSol{
    border-color:lightgray;
    border-width: 10px;
    border-style: inset;
    background-color:white; 
    
    font-family: 'Raleway', sans-serif;
    
    margin:auto;

    
    
}
.tableSol{
    border-color:lightgray;
    border-width: 10px;
    border-style: inset;
    background-color:white; 
    
    font-family: 'Raleway', sans-serif;
    
    margin:auto;

    
    
}

.sr{
    background-color: white;
    border: black 5px solid;
    text-align: center;
}

.back{
    text-align: center;
    background-color: white;
}


dd{
    margin-left: 80px;
    color:#e0d8b0;             
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.introWeb{
    padding: 10px;
    margin: 10px;
    float: right;
    width: 500px;
}

.htmlImg{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: right;
    width: 400px;
}
.cssImg{
    /*position: relative;*/
    margin-right: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
    width: 400px;
}
.contenido{
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right:  50px;
    background-color: white;
}

.columnas{
  
    float:left ; 
   background-color: white;
}

.colum{
    background-color:white;
    margin: 150px;
}